<%= flash[:notice] %>
<table>
  <thead>
    <tr>
      <th>Retailer Country</th>
      <th>Order Method</th>
      <th>Retailer Type</th>
      <th>Product Line</th>
      <th>Product Type</th>
      <th>Product</th>
      <th>Year</th>
      <th>Quarter</th>
      <th>Revenue</th>
      <th>Quantity</th>
      <th>Gross Margin</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.retailer_country%></td>
        <td><%= product.order_method%></td>
        <td><%= product.retailer_type%></td>
        <td><%= product.product_line%></td>
        <td><%= product.product_type%></td>
        <td><%= product.product%></td>
        <td><%= product.year%></td>
        <td><%= product.quarter%></td>
        <td><%= product.revenue%></td>
        <td><%= product.quantity%></td>
        <td><%= product.gross_margin%></td>
      </tr>
      <%= end %>
    </tbody>
  </table>
  <div>
      <h4>Data Import</h4>
        <%= form_tag import_products_path, multipart: true do %>
            <%= file_field_tag :file %>
            <%= submit_tag "Import CSV" %>
            <%= end %>
  </div>  
